@using TechStoreApp.Web.ViewModels.User
@model PfpViewModel

<link rel="stylesheet" href="~/css/pfp-for-view-component.css" />

<a class="user-profile" asp-controller="Account" asp-action="Index" asp-area="" method="get">
    <img style="color: white" src="@Model.ProfilePictureUrl" alt="Profile Picture" />
</a>


