<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* bootstrap icons *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    @* bootstrap css *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/header.css">
</head>

<body>
    <header>
        <a class="header-logo" asp-controller="Home" asp-action="Index">
            <img style="height: 100%" alt="Logo" src="~/images/Logo.png" />
        </a>

        <div class="header-search-div">
            <div id="dropdown-container">
                <div class="burger-background-div">
                    <input type="checkbox" id="menu-toggle" />
                    <label class="hamburger-menu" for="menu-toggle">
                        <span class="bar"></span> 
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </label>
                </div>

                <div class="menu-popup-div">
                    <form id="filter-by-category-header" asp-controller="Search" asp-action="Search" method="get">
                        <ul>
                            <li><button type="submit" name="Category" value="All">All products</button></li>
                            <hr />
                            <li><button type="submit" name="Category" value="Prebuilt Configuration">Configured Systems</button></li>
                            <hr />
                            <li><button type="submit" name="Category" value="Graphics Card">Graphics Cards</button></li>
                            <hr />
                            <li><button type="submit" name="Category" value="Processor">Processors</button></li>
                            <hr />
                            <li><button type="submit" name="Category" value="Processor Cooler">CPU Coolers</button></li>
                            <hr />
                            <li><button type="submit" name="Category" value="PC Case">PC Cases</button></li>
                            <hr />
                            <li><button type="submit" name="Category" value="Motherboard">Motherboards</button></li>
                            <hr />
                            <li><button type="submit" name="Category" value="RAM">RAM sticks</button></li>
                            <hr />
                            <li><button type="submit" name="Category" value="SSD">Solid state drives (SSDs)</button></li>
                            <hr />
                            <li><button type="submit" name="Category" value="HDD">Hard disk drives (HDDs)</button></li>
                            <hr />
                            <li><button type="submit" name="Category" value="Powersupply">Power Supplies</button></li>
                        </ul>
                    </form>
                </div>
            </div>

            <form class="lupa-bar-form" asp-controller="Search" asp-action="Search" method="get">
                <input name="query" class="header-search-bar" type="text" placeholder="Search for products...">
                <button type="submit" class="header-search-button">
                    <img style="height: 100%" src="~/images/magnifying-glass-icon-11.png">
                </button>
            </form>
        </div>

        <div class="header-accesories-div">
            @{
                if (!User.Identity!.IsAuthenticated)
                {
                    <a class="header-login-button" asp-controller="Account" asp-action="Login" method="get">
                        Login
                    </a>
                }
                else
                {
                    @await Component.InvokeAsync("UserProfilePicture")
                }
            }
            <div id="cart-decoration">
                <a class="header-cart-img" asp-controller="Cart" asp-action="Cart">
                    <img style="height: 100%" src="~/images/cart-icon-28356.png">
                </a>
                <span id="cart-item-count"></span>
            </div>
            <a class="header-heart-img" asp-controller="Favorites" asp-action="Favorites">
                <img style="height: 100%" src="~/images/Heart-icon.png">
            </a>
            <a class="header-phone-img" asp-controller="Home" asp-action="Cart">
                <img style="height: 100%" src="~/images/phone-icon-946.png">
            </a>
        </div>
    </header>

    <div id="overlay" class="overlay"></div>
    

    @* jquery *@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @* jquery validation *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    @* jquery validation unobtrusive *@
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @* bootstrap js *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    @* header animation *@
    <script src="~/js/header.js"></script>
    @* global functions *@
    <script src="~/js/common.js"></script>

    <script>
        function isLogged() {
            return @User.Identity.IsAuthenticated.ToString().ToLower(); // Outputs 'true' or 'false'
        }
    </script>

    @RenderSection("Scripts", required: false)

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-black text-white py-4">
        <div class="container text-center">
            <p>&copy; 2024 Store Name. All Rights Reserved.</p>
            <p>Follow us on:
                <a href="#" class="text-white">
                    <i class="bi bi-facebook"></i> Facebook
                </a> |
                <a href="#" class="text-white">
                    <i class="bi bi-instagram"></i> Instagram
                </a> |
                <a href="#" class="text-white">
                    <i class="bi bi-twitter"></i> Twitter
                </a>
            </p>
        </div>
    </footer>
</body>
</html>
