@using TechStoreApp.Web.ViewModels.User
@model SentEmailViewModel

<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <p>
            @Model.Message
        </p>
    </div>
</div>