.main-body-container {
    background-color: white;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px;
}

.row-container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column; 
    width: 100%; 
    max-width: 300px;
    height: auto;
    border: solid 1px #e1e1e1;
    box-shadow: inset;
    position: relative;
    margin: 0; 
    border-radius: 4px;
    padding: 10px;
}

.row-container p {
    text-align: center;
}

.image-link {
    height: 200px;
    width: 200px;
    max-width: 250px;
    margin-inline: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
}

.image-for-product {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.row-container:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.remove-from-favorites {
    position: absolute;
    right: 0px;
    top: 0px;
}

.remove-from-favorites button {
    height: 40px;
    width: 40px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.remove-from-favorites button img {
    height: 100%;
    width: auto;
}

.item-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cart-image {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}
