body {
    margin-inline: 15%;
}

.item-container {
    height: 100%;
    display: flex;
    float: left;
}

.item-image {
    height: 75%;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.row-container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    justify-content: space-between;
    transition: box-shadow 0.3s;
    display: flex;
    width: 1000px;
    height: 200px;
    border: solid 1px #e1e1e1;
    box-shadow: inset;
    position: relative;
    margin: 20px;
    border-radius: 4px;
    padding: 10px;
    padding-right: 100px;
}

.main-body-container{
    background-color: white;
}

.image-link {
    height: 200px;
    width: 200px;
    max-width: 250px;
    margin-inline: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
}

.image-for-product{
    height: 200px;
    width: 200px;
    object-fit: cover;  
    border-radius: 20px;
}

.row-container:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.remove-from-favorites {
    position: absolute;
    right: 0px;
    top: 0px;
}

.remove-from-favorites button {
    height: 40px;
    width: 40px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 0;
    border-right: 0;
    border-left: 1px solid black;
    cursor: pointer;
}

.remove-from-favorites button img {
    height: 100%;
    width: auto;
}