html {
    overflow: visible;
}

body {
    margin-top: 120px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

button {
    font-size: 0.9rem;
    width: auto;
}

header {
    height: 100px;
    width: 100%;
    z-index: 1000;
    background-color: black;
    left: 0;
    top: 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    overflow: visible;
    position: fixed;
}

.header-logo {
    height: 100%;
    justify-content: center;
    flex: 1;
}

.header-search-div {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 3;
    height: 100%;
    position: relative;
}

#menu-toggle {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
    display: none;
}

.hamburger-menu {
    width: 35px;
    height: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    top: -10px;
}


#menu-toggle:checked + .hamburger-menu .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    background-color: black;
}

#menu-toggle:checked + .hamburger-menu .bar:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .hamburger-menu .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    background-color: black;
}

.menu-popup-div {
    display: none;
    background-color: white;
    position: absolute;
    width: auto;
    padding-inline: 10px;
    top: 90px;
}

.bar {
    height: 4.8px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#filter-by-category-header ul {
    list-style-type: none;
    padding: 0;
}

#filter-by-category-header ul li {
    margin: 10px 0;
    cursor: pointer;
}

#filter-by-category-header ul button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
}

#filter-by-category-header ul button:hover {
    cursor: pointer;
}

#filter-by-category-header ul li hr {
    color: gray;
    opacity: 0.3;
    border: solid, 1px;
    width: 90%;
}

.header-search-bar {
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
}

.lupa-bar-form {
    height: 100%;
    margin: 10px;
    align-items: center;
    display: flex;
}

.header-search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 50%;
}

.header-accesories-div {
    flex: 1;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
}


.header-phone-img {
    height: 50%;
    margin: 10px;
}

.header-heart-img {
    height: 65%;
    margin: 10px;
}

.header-login-button {
    height: 50%;
    border-color: white;
    border: solid 1px;
    background-color: transparent;
    width: 100px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    align-content: center;
    text-align: center;
    transform: scale(1.05);
    margin: 10px;
}

.burger-background-div {
    align-content: center;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    margin-bottom: -20px;
    height: 80px;
}

span.text-danger {
    color: red;
}

.favorite-contain-accessories input:checked + label .full-heart {
    opacity: 1;
}

.favorite-contain-accessories input:checked + label .hollow-heart {
    opacity: 0;
}

.favorite-contain-accessories {
    position: relative;
    height: 30px;
    width: 100px;
}

.favorite-contain-accessories img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}

.favorite-contain-accessories input {
    display: none;
}

.favorite-contain-accessories label {
    cursor: pointer;
}

.hollow-heart {
    position: absolute;
}

.full-heart {
    transition: opacity 0.3s ease;
    opacity: 0;
}

#cart-item-count {
    background-color: red;
    border-radius: 100px;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 0;
    right: -10px;
    top: 25px;
    font-size: 1rem;
    font-weight: bold;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.header-cart-img {
    height: 100%;
    position: relative;
}

#cart-decoration {
    display: flex;
    height: 50%;
    position: relative;
    margin: 10px
}

.add-to-cart-button{
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
    align-items: center;
    cursor: pointer;
}

.cart-image{
    height: 100%;
    width: auto;
    margin: 10px;
}
